.container {
  width:60rem;
  display:flex;
  flex-wrap:wrap;
}
header{
  width:100%;
  background-color: silver;
}
main{
  width: 75%;
  background-color: red;
}
aside{
  width: 25%;
  background-color: green;
}
footer{
  width:100%;
  background-color: silver;
}